<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>NgxGjs</title>
  <base href="/builder">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" th:href="@{/builder/favicon.ico}">
<style>html{height:100%}html body{margin:0;height:100%}</style>
<link rel="stylesheet" th:href="@{/builder/styles.9e031c2089260181.css}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" th:href="@{/builder/styles.9e031c2089260181.css}"></noscript>
</head>
<body>
  <app-root></app-root>
<script th:src="@{/builder/runtime.a78fb81c0eedee45.js}" type="module"></script>
<script th:src="@{/builder/polyfills.f220bac6ed7e40ad.js}" type="module"></script>
<script th:src="@{/builder/scripts.9d0f012e6f16ecc7.js}" defer></script>
<script th:src="@{/builder/main.74bfbc3ae088bf74.js}" type="module"></script>

</body>
</html>